.App {
  text-align: center;
}
.page-header {
  color: #e2dada;
  text-shadow: 1px 1px 5px #fff;
}

.carousel-arrow{
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-radius: 50%;
  color: green;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  top: 50%;
}

/* write your parent styles in here for your App.js */
